dist: bionic
sudo: required
language: python
python:
  - "3.7"
cach:
  pip: true
addons:
  apt:
    update: true
install:
  - set -e
  - bin/setup_base
  - bin/build_proto check
script:
  - set -e
  - bin/check_style
  - bin/build_docker
  - bin/setup_stack local
  - bin/test_stack
  - bin/build_proto
  - bin/package_forch
