dist: bionic
sudo: required
language: python
python:
  - "3.7"
cache:
  pip: true
addons:
  apt:
    update: true
install:
  - set -e
  - bin/setup_base
  - bin/setup_faucet
  - $TEST_SKIP bin/compile_ovs
  - $TEST_SKIP bin/build_docker ${DOCKER_BUILD:-pull}
script:
  - set -e
  - $TEST_SKIP bin/setup_stack local $CONN_CHECK $MODE
  - bin/run_test_set
env:
  matrix:
    # Disabling b/c flaky, needs to be fixed and reinstated.
    #- TEST_SET=access CONN_CHECK=skip-conn-check MODE=dva
    #- TEST_SET=topology TEST_SKIP=true
    #- TEST_SET=reconfig
    - TEST_SET=stack SHARD=1
    - TEST_SET=stack SHARD=2
    - TEST_SET=stack SHARD=3
