dist: bionic
sudo: required
language: python
python:
  - "3.7"
cache:
  pip: true
addons:
  apt:
    update: true
install:
  - set -e
  - bin/setup_base
  - bin/setup_faucet
  - $SKIP_INSTALL bin/compile_ovs
  - $SKIP_INSTALL bin/retry_cmd bin/build_docker ${DOCKER_BUILD:-pull}
script:
  - set -e
  - $SKIP_TEST bin/setup_stack local $CONN_CHECK $MODE
  - bin/run_test_set
env:
  matrix:
    - TEST_SET=access CONN_CHECK=skip-conn-check MODE=dva
    - TEST_SET=topology SKIP_INSTALL=true SKIP_TEST=true
    - TEST_SET=reconfig
    - TEST_SET=solo SKIP_TEST=true
    - TEST_SET=stack
