dist: bionic
sudo: required
language: python
python:
  - "3.7"
cach:
  pip: true
addons:
  apt:
    update: true
install:
  - bin/setup_base
script:
  - set -e
  - bin/check_style
  - bin/build_forch
  - bin/build_docker
  - bin/setup_stack local
  - bin/test_stack
env:
  matrix:
    - SHARD=1
    - SHARD=2
    - SHARD=3
    - SHARD=4
    - SHARD=5
