coverage
eventlet==0.25.1
grpcio
grpcio-testing
grpcio-tools
netaddr
networkx
pbr>=1.9
prometheus_client==0.8.0
protobuf
psutil
pylint==2.7.4
pytricia
pyyaml>=5.4.1,<6.0
ryu==4.32
setuptools
watchdog
wheel
yq
python-dateutil==2.8.2
