Source: forch
Section: python
Priority: optional
Maintainer: Faucet Maintainers <maintainers@faucet.nz>
Build-Depends: debhelper (>= 9),
               dh-python,
               python3-all (>= 3.8),
               python3-setuptools,
               python3-yaml,
               python3-prometheus-client,
               python3-psutil,
               python3-wheel,
               python3-protobuf,
               python3-watchdog,
               python3-grpcio,
               pylint,
               python3-pbr (>= 1.9),
Standards-Version: 3.9.6
X-Python3-Version: >= 3.8
Homepage: https://github.com/faucetsdn/forch
Vcs-Git: https://github.com/faucetsdn/forch.git
Vcs-Browser: https://github.com/faucetsdn/forch

Package: python3-forch
Architecture: all
Depends: python3-faucet (= FAUCET_VERSION),
         python3-all (>= 3.8),
         python3-grpcio,
         python3-netaddr,
         python3-networkx,
         python3-prometheus-client (>= 0.7.1), python3-prometheus-client (<< 0.7.2),
         python3-protobuf,
         python3-psutil,
         python3-watchdog,
         python3-yaml (>= 5.4.1), python3-yaml (<< 6.0),
Description: The Faucet Orchestrator for controlling and monitoring a faucet network.

Package: forch
Architecture: all
Depends: python3-forch
Description: The Faucet Orchestrator for controlling and monitoring a faucet network.
