Source: esdn-faucet
Section: python
Priority: optional
Maintainer: Faucet Maintainers <maintainers@faucet.nz>
Build-Depends: debhelper (>=9),
	       dh-python,
	       python3-all,
	       python3-setuptools,
	       python3-wheel,
	       python3-pbr (>=1.9),
Depends: esdn-faucet
Standards-Version: 3.9.6
X-Python3-Version: >= 3.6
Homepage: https://github.com/faucetsdn/forch
Vcs-Git: https://github.com/faucetsdn/forch.git
Vcs-Browser: https://github.com/faucetsdn/forch

Package: esdn-faucet
Architecture: all
Depends: python3-faucet,
     forch (= FORCH_VERSION),
     faucet
Description: Complete esdn-faucet bundle
