name: forch test suite

on:
  push:
  pull_request:
  schedule:
    - cron: '0 */2 * * *'

jobs:
  test_stack:
    runs-on: ubuntu-latest
    timeout-minutes: 45
    steps:
      - uses: actions/checkout@v2
      - name: Set up python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: setup base
        run: bin/setup_base
      - name: setup faucet
        run: bin/setup_remote faucet
      - name: compile ovs
        run: bin/compile_ovs
      - name: build docker
        run: bin/retry_cmd bin/build_docker
      - name: setup stack
        run: bin/setup_stack local dhcp dumptcp
      - name: run test
        run: bin/run_test_set stack
      - name: post-run logs
        if: ${{ always() }}
        run: bin/dump_logs full
