name: forch test suite

on:
  push:
  pull_request:
  schedule:
    - cron: '0 */2 * * *'

jobs:
  test_access:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: setup base
        run: bin/setup_base
      - name: setup faucet
        env:
          GIT_URL: ${{ secrets.GIT_URL }}
        run: bin/setup_remote faucet
      - name: compile ovs
        run: bin/compile_ovs
      - name: build docker
        run: bin/retry_cmd bin/build_docker
      - name: setup stack
        run: bin/setup_stack local skip-conn-check dva
      - name: run test
        run: bin/run_test_set access

  test_base:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: setup base
        run: bin/setup_base
      - name: setup faucet
        env:
          GIT_URL: ${{ secrets.GIT_URL }}
        run: bin/setup_remote faucet
      - name: build docker
        run: bin/retry_cmd bin/build_docker
      - name: run test
        run: bin/run_test_set base

  test_fot:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v2
      - name: Set up python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: setup base
        run: bin/setup_base
      - name: setup faucet and daq
        env:
          GIT_URL: ${{ secrets.GIT_URL }}
        run: |
          bin/setup_remote faucet
          bin/setup_remote daq
      - name: build docker
        run: |
          bin/retry_cmd bin/build_docker controller
          bin/build_dts
      - name: run python tests
        run: testing/python_test test_fot
      - name: setup fot stack
        run: bin/setup_stack devices 5 skip-conn-check dhcp fot
      - name: run fot integration tests
        run: timeout 20m bin/run_test_set fot
      - name: setup vxlan stack
        run: bin/setup_stack devices 5 skip-conn-check dhcp fot vxlan
      - name: run vxlan integration tests
        run: timeout 20m bin/run_test_set fot
      - name: setup dts
        run: bin/setup_stack devices 5 skip-conn-check dhcp fot dts localhost
      - name: run dts integration tests
        run: timeout 20m bin/run_test_set fot
      - name: post-run logs
        if: ${{ always() }}
        run: |
          echo %%%%%%%%%%%%% Controller startup logs
          docker logs forch-controller-1
          echo %%%%%%%%%%%%% DAQ startup logs
          cat inst/forch-controller-1/daq/inst/cmdrun.log || cat inst/forch-dts/cmdrun.log
          echo %%%%%%%%%%%%% Forch logs
          cat inst/forch-controller-1/forch.log
          echo %%%%%%%%%%%%% Endpoint logs
          cat inst/endpoint.log || true

  test_reconfig:
    runs-on: ubuntu-latest
    timeout-minutes: 45
    steps:
      - uses: actions/checkout@v2
      - name: Set up python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: setup base
        run: bin/setup_base
      - name: setup faucet
        env:
          GIT_URL: ${{ secrets.GIT_URL }}
        run: bin/setup_remote faucet
      - name: compile ovs
        run: bin/compile_ovs
      - name: build docker
        run: bin/retry_cmd bin/build_docker
      - name: setup stack
        run: bin/setup_stack
      - name: run test
        run: bin/run_test_set reconfig

  test_stack:
    runs-on: ubuntu-latest
    timeout-minutes: 45
    steps:
      - uses: actions/checkout@v2
      - name: Set up python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: setup base
        run: bin/setup_base
      - name: setup faucet
        env:
          GIT_URL: ${{ secrets.GIT_URL }}
        run: bin/setup_remote faucet
      - name: compile ovs
        run: bin/compile_ovs
      - name: build docker
        run: bin/retry_cmd bin/build_docker
      - name: setup stack
        run: bin/setup_stack local dhcp dumptcp
      - name: run test
        run: bin/run_test_set stack
      - name: post-run logs
        if: ${{ always() }}
        run: bin/dump_logs full

  test_scale:
    runs-on: ubuntu-latest
    timeout-minutes: 45
    steps:
      - uses: actions/checkout@v2
      - name: Set up python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: setup base
        run: bin/setup_base
      - name: setup faucet
        env:
          GIT_URL: ${{ secrets.GIT_URL }}
        run: bin/setup_remote faucet
      - name: build docker
        run: bin/retry_cmd bin/build_docker
      - name: run test
        run: testing/python_test test_failscale
      - name: post-run logs
        if: ${{ always() }}
        run: bin/dump_logs full
